body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top-title{
    display: grid;
    grid-template-columns:  minmax(93px, 15%) 80%;
    column-gap: 40px;
    max-width: 100%;
    background: linear-gradient(90deg, #7eff89 0%, #00dd00  100%);
    overflow: hidden;
    min-height: 50px;  
    min-width: 0;
    -moz-box-sizing:border-box; /* Firefox */
    box-sizing:border-box; 
}

.back-arrow{
    display: flex;
    grid-column: 1/2;
    justify-items: left;
    align-items: center;
    margin-right: 20px;
    width: 50px;
    padding:  15px;
    background: linear-gradient(90deg, #00dd00, #7eff89 0%,   100%);
    transition: background 150ms linear;
}
.back-arrow:hover{
    background: linear-gradient(90deg, #00dd00 0%, #7eff8900  100%);
}

.title{
    grid-column: 2/3;
    align-self: center;
    text-align: center;
    margin: 0;
    margin-right: 230px;
    white-space: pre-line;
}

.form-submit{
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    color: #000000;
    background: linear-gradient(90deg, #7eff89 0%, #00dd00  100%);
    padding: 10px 30px;
    border: solid #212121 2px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 50px;
    transition : 835ms;
    transform: translateY(0);
    align-items: center;
    cursor: pointer;
    text-transform: lowercase;
}
.form-submit:hover{
    transition : 835ms;
    background: linear-gradient(90deg, #61ff6f 0%, #3cff3c  100%);
    color: #000000;
    border: solid 2px #00044d;
}

.titolo {
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #00dd00;
    background-color: #FFFFFF;
    color: #000000;
    border-style: groove;
    border-radius: 12px;
    box-shadow: 0px 0px 1px rgba(0,221,0,.30);
    text-shadow: 0px 0px 0px rgba(66,66,66,.0);

}
.titolo:focus {
    outline:none;
}
   

.form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) .3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 5; }
.asseX { grid-area: 2 / 1 / 3 / 2; }
.asseY1 { grid-area: 2 / 2 / 3 / 3; }
.asseY2 { grid-area: 2 / 3 / 3 / 4; }
.form-submit { grid-area: 3 / 1 / 4 / 4; }