<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/creaParte1Style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Carica i dati</h1>
        <div class="graphType">
            <h3>Seleziona il tipo di grafico</h3>
            <form method="POST" action="" enctype="multipart/form-data">
                {{form.hidden_tag()}}

                {{ form.graphType.label(class="form-control-label") }}
                {{ form.graphType(class="form-control form-control-lg is-invalid")}}
                
                <div class="CartesianForm">
                    {{form.data_file(class="file-input")}}
                    {{form.submit(class="form-submit")}}
                </div>
            </form>
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

    </body>
</html>