<html>
    <head>
        <title>Flaskly</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/homeStyle.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <script src="{{url_for('static', filename='scripts/search.js') }}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='scripts/showHideElement.js') }}" type="text/javascript"></script>
    
    <body>
        {% from "showGrafMenu.html" import showGrafMenu with context %}
        <h1>Home</h1>
        <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-23" viewBox="0 0 40 40">
              <path d="M21.728 22.597c-2.308 2.1-5.374 3.38-8.74 3.38C5.815 25.977 0 20.162 0 12.987 0 5.816 5.815 0 12.988 0c7.174 0 12.99 5.815 12.99 12.988 0 3.366-1.28 6.433-3.38 8.74 1.943-1.516 4.76-1.376 6.542.404l9.41 9.41c1.934 1.934 1.928 5.074-.003 7.005-1.935 1.935-5.077 1.93-7.004.004l-9.41-9.41c-1.787-1.786-1.918-4.602-.405-6.543zm-8.74-.235c5.177 0 9.374-4.197 9.374-9.374 0-5.176-4.197-9.373-9.374-9.373-5.176 0-9.373 4.197-9.373 9.373 0 5.177 4.197 9.374 9.373 9.374zm11.687 4.975c-.732-.733-.735-1.917.005-2.657.735-.735 1.93-.732 2.657-.005l9.104 9.104c.733.73.736 1.916-.004 2.656-.735.735-1.93.73-2.657.005l-9.105-9.103z"
              fill-rule="evenodd" />
            </symbol>
            <symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-3" viewBox="0 0 20 20">
              <path d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z" fill-rule="evenodd" />
            </symbol>
          </svg>
          
            <span class="searchbox sbx-custom">
            <div role="search" class="sbx-custom__wrapper">
              <input type="search" name="search" id="ricerca" placeholder="Cerca..." autocomplete="off" required="required" class="sbx-custom__input ricerca bar" oninput="search(this.value)">
              <button type="submit" title="Submit your search query." class="sbx-custom__submit">
                <svg role="img" aria-label="Search">
                  <use xlink:href="#sbx-icon-search-23"></use>
                </svg>
              </button>
              <button type="reset" title="Clear the search query." class="sbx-custom__reset">
                <svg role="img" aria-label="Reset">
                  <use xlink:href="#sbx-icon-clear-3"></use>
                </svg>
              </button>
            </div>
        </span>
          <script type="text/javascript">
            document.querySelector('.searchbox [type="reset"]').addEventListener('click', function() {  this.parentNode.querySelector('input').focus();});
          </script>
        <a class="crea-button" href="{{ url_for('creation_part1') }}">+ Crea</a>
        <form method="POST" action="" enctype="multipart/form-data">
            <div id="grafici" class="grafici">
                <!--
                    Utilizzo la class name 'graf-div' per selezionare i div 
                    da nascondere/visualizzare durante la ricerca-->
                    {{showGrafMenu(grafs)}}
            </div>
        </form>
    </body>
    

</html>
